<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="api.utilities.ExtentListener" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="Tests.GetAllCourseStructures" />
			<class name="Tests.CreateNotes" />
			<class name="Tests.GetNotesQueryParam" />
			<class name="Tests.GetNoteById" />
			<class name="Tests.GetAllInstitution" />
			<class name="Tests.HealthCheckTest" />
			<class name="Tests.GetAllRoles" />
			<class name="Tests.LoginTest" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
